

.content-card {
  padding-bottom: $gutter*2;
  > .img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
  > .heading {
    margin: $gutter*2 0 0;
  }
  > .text {
    margin: $gutter*2 0;
  }
  > .link {
    font-weight: $fw-semi;
    color: $text-gray;
    border-bottom: 2px solid $text-gray;
    padding-bottom: 5px;
  }

}


.content-card {

  &.-noimg > .heading {
    margin-top: $gutter*2;
  }
  &.-overlap {
    margin-top: -50%;
    position: relative;
    z-index: 9;
    @include transition(margin .75s);
    .vid-reveal & {
       margin-top: 20px;
    }
  }
  &.-overlap > .img {
    margin-right: 5%;
    width: 95%;
  }
}