

.content-card {
  padding-bottom: $gutter*2;

  > .img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  > .heading {
    margin: $gutter*2 0 0;
  }

  > .text {
    margin: $gutter*2 0;
  }

  > .link {
    font-weight: $fw-semi;
    color: $text-gray;
    border-bottom: 2px solid $text-gray;
    padding-bottom: 5px;
  }



  /* VARIANTS */

  &.-overlap {
    margin-top: -50%;
    @include relative($z:9);
    > .img {
      margin-right: 5%;
      width: 95%;
    }
  }



  /* CONTEXTUAL */

  .hero-overlap &.-overlap {
    @include transition(all .75s);
    /* when .vid-reveal is added to body, this div gets pushed down */
    .vid-reveal & {
      margin-top: 20px;
    }
  }




} /* @end content-card */




