.highlight.-surf {
  background: url('../../public/images/surfboard.jpg') no-repeat top left;
  margin-right: -15px;
  margin-left: 50px;
  height: 300px;
  .broken-text {
      padding-top: 95px;

  }
  img {
    margin-left: 25%;
    margin-top: -40px;
  }
}