.highlight {
  position: relative;
  background-repeat: no-repeat;
  background-position: top left;

  margin-left: 50px;

  .broken-text {
      padding-top: 95px;

  }
  img {
    margin-left: 25%;
    margin-top: -40px;
  }
}