

.logo-wrapper {
  width: 75px;
}

.logo-wrapper .logo {
  font: 800 24px/30px $proxima;
  text-transform: uppercase;
  width: 56px;
  float:left;
  margin-left: 9.5px;
}

.logo-wrapper .logo > .letter {
  display: block;
  float: left;
  text-align: center;
  width: 28px;
}

.logo-wrapper .divider {
  height: 4px;
  float: left;
  width: 100%;
  margin: 10px 0;
  background: $text-gray;
}



.logo-wrapper .logo.-flipped {
  @include transform(rotate(180deg));
}


.logo-wrapper.-light .logo {
  color: $white;
}
