#preloader {
  @include fixed($t:0,$r:0,$b:0,$l:0,$z:99999);
  width: 100%;
  height: 100%;
  background-color: $white;
  animation: bg-change 6s linear forwards;

  .spinner {
    @include absolute($t:50%, $l:50%);
    background: url("../../public/images/surfer-dude.png") no-repeat center center $white;
    height: 170px;
    width: 170px;
    @include border-radius(50%);
    animation: surfer 1s infinite forwards;
  }
}


