
.rotated-text {
  color: $text-gray;
  @include absolute($z:1);
  @include border-radius(0);

}

.rotated-text > .content {
  margin: 0;
  line-height: $doc-pad;
  padding: 0 20px 0 0;
}

.rotated-text > .content li {
  display: inline-block;
  padding: 0 20px;
  list-style-type: none;
  text-transform: uppercase;
  &:first-child {
    padding-left: 0;
  }
}

.rotated-text a {
  color: $text-gray;
  //background: $white;
  @include relative;
  // &:after {
  //   content: '';
  //   background: $white;
  //   width: 100%;
  //   height: 70%;
  //   @include absolute;
  //   top: 5%;
  //   left: 0;
  //   z-index: -1;
  // }
  &:hover {
    color: $orange;
  }
  //body.pg-footer-active &,
  body.pg-s5-active & {
    color: $very-light-gray;
    // color: $aqua;
    // color: #007FFF;
  }

}

.rotated-text > .rule {
  width: 75px;
  height: 4px;
  background: $text-gray;
  margin-top: -2px;
  @include absolute($t:50%,$z:2);
  transition: all .2s;
  //body.pg-footer-active &,
  body.pg-s5-active & {
    background: $very-light-gray;
  }

}


/* VARIANTS */
.rotated-text {
  &.-fixed {
    @include fixed;
  }
  &.-left {
    left: $doc-pad;
    padding-right: 75px;
    transform-origin: top left;
    @include transform(rotate(90deg));
    > .rule {
      right: 0;
    }
  }
  &.-right {
    right: $doc-pad;
    padding-left: 75px;
    transform-origin: top right;
    @include transform(rotate(-90deg));
    > .rule {
      left: 0;
    }
    > .content {
      @include transform(rotate(-180deg));
    }
    &.-center {
      top: 50%;
      @include transform(rotate(-90deg) translateX(50%));
    }
  }

}


.rotated-text > .content {
  &.-menu {
    font-size: 12px;
    font-weight: $fw-semi;
    @include spacing(75);
  }
}



