
.rotator {
  &.-vert {
    @include relative;
    padding-right: 75px;
  }

  &.-horiz {
    margin-left: 50px;
  }

  &.-overlap {
    @include absolute;
    margin-top: -150px;
  }
}

.rotator.-vert > .img-wrap {
  display: inline-block;
}

.rotator.-vert > .img-wrap img {
  max-width: 100%;
}

.rotator.-horiz > .img-wrap {
  text-align: center;
}

.rotator.-vert > .range-wrap {
  height: 110%;
  background: $white;
  @include absolute($t:-5%); /* width & left position = half of img-wrap width */
  @include transition(left .5s linear);
}

.rotator.-vert {
  .ranger-overlay {
    width: 50px;
    height: 100%;
    @include transition(opacity .25s linear);
    @include absolute($l:-17px,$z:100);
  }
  &.begin {
    .ranger-overlay {
      @include opacity(0);
      visibility: hidden;
    }
  }
}



.rotator .vert-caption.prodinfo {
  @include absolute($t:15%,$l:20px,$z:101);
  height: 70%;
}

.rotator .vert-caption.prodinfo .brand {
  @include absolute($l:50%);
  @include transform(translateX(-50%));
}

.rotator .vert-caption.prodinfo .caption {
  white-space: nowrap;
  top: 40px;
}


.prodinfo {
  text-align: center;
}

.prodinfo h4 {
  font: $fw-semi 18px $proxima;
  text-transform: uppercase;
  @include spacing(200);

}

.rotator .descrip {
  font-family: $playfair;
  font-weight: bold;
  text-align: center;
  margin: $gutter 0;
}

































