.vert-caption {
  position: relative;
  margin-bottom: $gutter*2;
}

.vert-caption .caption {
  position: absolute;
  transform-origin: top left;
    @include transform(rotate(90deg));

    line-height: 40px;
    left: 40px;
    top: $gutter*2;
}