
.vid-wrap {
  display: block;
  float: left;
  overflow: hidden;
  @include relative;
}

.vid-wrap .play-button {
  @include absolute;
}

.vid-wrap img {
  @include transition-transform(1s ease-out, opacity .5s ease-in);
}

.vid-wrap:hover {
  .play-button {
    background: rgba($dark-gray, 0.7);
  }
  img {
    @include transform(scale(1.07));
  }
}

.vid-wrap.-center .play-button {
  @include absolute($t:50%,$l:50%,$z:1);
  @include transform(translate(-50%,-50%));

}
.vid-wrap.-special {
  width: 100%;
}
.vid-wrap.-special img {
  width: 100%;
  height: auto;
  @include transition-transform(2s ease-out, opacity .5s ease-in);
}
.vid-wrap.-special .play-button {
  @include absolute($t:44%,$l:30.5%,$z:1);
  @include transition(all .5s ease-in);
}
.vid-wrap .surfer {
  background: url('../../public/images/surfer-dude.png') no-repeat top left;
  width: 150px;
  height: 100px;
  background-size: contain;
  position: absolute;
  left: 55%;
  top: 30%;
  z-index: 1;
  @include transition-transform(1.5s ease-out);
}

//body.pg-s3-active .vid-wrap.-special,
.vid-wrap.-special:hover {
  .play-button {
    background: $aqua;
  }
  img {
    @include transform(scale(1.1));
    @include opacity(0.8);
  }
}
//body.pg-s3-active .vid-wrap .surfer,
.vid-wrap:hover .surfer {
  @include transform(translate(20px, 20px) rotate(3deg));
}

// .s3.scroll-ready .vid-wrap.-special {
//   .play-button {
//     background: $aqua;
//   }
//   img {
//     @include transition-transform(.2s ease-in);
//     @include animation(animation, video-img 2s ease-in);
//     //@include transform(scale(1.01));
//     //@include opacity(0.8);
//   }
// }

