
.vid-wrap {
  display: block;
  float: left;
  overflow: hidden;
  @include relative;
}

.vid-wrap .play-button {
  @include absolute;
}

.vid-wrap img {
  @include transition-transform(.5s ease-in, opacity .5s ease-in);
}

.vid-wrap:hover {
  .play-button {
    background: rgba($dark-gray, 0.7);
  }
  img {
    @include transform(scale(1.07));
  }
}

.vid-wrap.-center .play-button {
  @include absolute($t:50%,$l:50%,$z:1);
  @include transform(translate(-50%,-50%));

}
.vid-wrap.-special {
  width: 100%;
}
.vid-wrap.-special img {
  width: 100%;
  height: auto;
}
.vid-wrap.-special .play-button {
  @include absolute($t:44%,$l:30.5%,$z:1);
  @include transition(all .5s ease-in);
}
.vid-wrap .surfer {
  background: url('../../public/images/surfer-dude.png') no-repeat top left;
  width: 150px;
  height: 100px;
  background-size: contain;
  position: absolute;
  left: 55%;
  top: 30%;
  z-index: 1;
  @include transition-transform(.75s ease-out);
}
.vid-wrap.-special:hover {
  .play-button {
    background: darken(aqua,10%);
  }
  img {
    @include transform(scale(1.01));
    @include opacity(0.8);
  }
}
.vid-wrap:hover .surfer {
  @include transform(translate(10px, 10px) rotate(2deg));
}

