
@include keyframes(surfer) {
  0% {
    transform: translate(-50%,-50%) rotate(0deg) ;
    box-shadow: 0 0 0 rgba($orange,0.5);
  }

  100% {
    box-shadow: 0 0 160px 0 rgba($orange,0.5);
    transform: translate(-50%,-50%) rotate(360deg);
  }
}

@include keyframes(video-img) {
  0% {
    @include transform(scale(1));
    @include opacity(1);
  }

  100% {
    @include transform(scale(1.5));
    @include opacity(0.8);
  }
}

@include keyframes(bg-change) {
  0% {
    background: $white;
  }

  50% {
    background: rgba($yellow,0.4);
  }

  100% {
    background: rgba($yellow,0.6);
  }
}

@include keyframes(ready-fade-in){
  from {
    @include opacity(0);
  }
  to {
    @include opacity(1);
  }
}

@include keyframes(flash-up){
  0% {
    @include opacity(0);
    margin-top: 0;
  }
  50% {
    margin-top: -10px;
    @include opacity(1);
    color: $aqua;
  }
  90% {
    margin-top: 0;
    @include opacity(1);
    color: rgba($aqua,0.5);
  }
}

@include keyframes(flash-down){
  0% {
    @include opacity(0);
    margin-top: 0;
  }
  50% {
    margin-top: 10px;
  @include opacity(1);
    color: $aqua;
  }
  90% {
    margin-top: 0;
    @include opacity(1);
    color: rgba($aqua,0.5);
  }
}

@include keyframes(line-grow) {
  from {
    width: 0;
  }
  to {
    width: 120%;
  }
}



