
@keyframes surfer {
  0% {
    transform: translate(-50%,-50%) rotate(0deg) ;
    box-shadow: 0 0 0 rgba($orange,0.5);
  }

  100% {
    box-shadow: 0 0 160px 0 rgba($orange,0.5);
    transform: translate(-50%,-50%) rotate(360deg);
  }
}

@keyframes bg-change {
  0% {
    background: $white;
  }

  50% {
    background: rgba($yellow,0.4);
  }

  100% {
    background: rgba($yellow,0.6);
  }
}

@keyframes ready-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

