
@keyframes surfer {
  0% {
    transform: translate(-50%,-50%) rotate(0deg) ;
    box-shadow: 0 0 0 rgba($orange,0.5);
  }

  100% {
    box-shadow: 0 0 160px 0 rgba($orange,0.5);
    transform: translate(-50%,-50%) rotate(360deg);
  }
}

@keyframes bg-change {
  0% {
    background: $white;
  }

  50% {
    background: rgba($yellow,0.4);
  }

  100% {
    background: rgba($yellow,0.6);
  }
}

@keyframes ready-fade-in {
  from {
    @include opacity(0);
  }
  to {
    @include opacity(1);
  }
}


@keyframes flash-up {
  0% {
    @include opacity(0);
    margin-top: 0;
  }
  50% {
    margin-top: -5px;
    @include opacity(1);
    color: $aqua;
  }
  90% {
    margin-top: 0;
    @include opacity(1);
    color: rgba($aqua,0.5);
  }
}

@keyframes flash-down {
  0% {
    @include opacity(0);
    margin-top: 0;
  }
  50% {
    margin-top: 5px;
  @include opacity(1);
    color: $aqua;
  }
  90% {
    margin-top: 0;
    @include opacity(1);
    color: rgba($aqua,0.5);
  }
}

