.card-gallery {
  margin-top: 120px;
}

.card-overlay,
.card-gallery .flex-control-nav.flex-control-paging {
  width: $col*2;
  left: $col;
  background: $white;
  margin-left: $gutter;
}

.card-overlay {
  @include absolute($z:9);
  padding: 0 20px;
  height: 95%;
  .text {
    //margin-top: 320px;
  }
}

.card-gallery .flex-control-nav.flex-control-paging {
  bottom: 0;
  height: 100%;
  text-align: left;
  padding-left: 20px;
  li {
    line-height: 100%;
    height: 100%;
    width: 9px;
    position: relative;
    a {
      position: absolute;
      bottom: 1px;
    }
  }
  li:first-child{
    margin-left: 0;
  }
}

.card-gallery .broken-text {
  margin-left: 30px;
}