.site-footer {
  @include relative
  margin: $gutter;
  text-align: center;
  min-height: 500px;
}

.site-footer img {
  width: 100%;
  height: auto;
  @include respond-to($screen-sm) {
    display: none;
  }
}

.site-footer .img-bg {
  display: none;
  @include respond-to($screen-sm) {
    display: block;
    width: 100%;
    height: 100%;
    @include absolute($t:0, $l:0);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}
.site-footer .footer-content {
  @include absolute($b:100px,$l:50%,$z:999);
  @include transform(translateX(-50%));
  @include respond-to($screen-sm) {
    bottom: 10px;
  }
}

.site-footer .footer-logo {
  width: 100%;
  float: left;
  @include relative;
  height: 150px;
  margin-bottom: $gutter*2;
}

.site-footer  .logo-wrapper {
  float: left;
  width: 75px;
  @include absolute($l:50%);
  @include transform(translateX(-50%));
}

.site-footer .text {
  color: $light-gray;
  padding-bottom: $gutter*2;
  margin-bottom: $gutter*2;
  position: relative;
  &::after {
    content: '';
    height: 3px;
    width: 50px;
    background: $text-gray;
    @include absolute($b:0,$l:50%);
    @include transform(translateX(-50%));
  }
}

.site-footer .link {
  color: $white;
}

.site-footer .top-wrap {
  @include relative;
  display: block;
  height: 30px;
  margin: 30px 0 0;
  .top {
    left: 50%;
    display: block;
    height: 100%;
    margin-left: -1px;
    &,
    &::before,
    &::after {
      @include absolute($t:0);
      width: 2px;
      @include border-radius(1px);
      background: $text-gray;
      @include transition(all .2s ease-in);
    }
    &::before,
    &::after {
      content: '';
      height: 75%;
    }
    &::before {
      transform-origin: top right;
      @include transform(rotate(45deg));
      left: 0;
    }
    &::after {
      transform-origin: top left;
      @include transform(rotate(-45deg));
      right: 0;
    }
  }
  &:hover .top {
    &,
    &::before,
    &::after {
      background: $white;
    }
  }
}

