

.-heroheight {
  height: calc(100vh - 110px);
}

.page-hero {
  @extend .-heroheight;
}


.page-hero .leftwrap {

  position: absolute;
  width: 100%;
  top: 50%;
  @include transform(translateY(-50%));
  height: 45%;
  min-height: 235px;

  .logo-wrapper {
    position: absolute;
    top: 0;
    left: 50%;
     @include transform(translateX(-50%));
  }
  .play-button {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -25px;
  }
}



.page-hero .reveal {
position: relative;
width: 100%;
@extend .-heroheight;
}

.videocover {
  background: url(../../public/images/image1.jpg) no-repeat top left;
  background-size: cover;
  height: 100%;
  width: 100%;
  /*opacity: 0;*/
  /*visibility: hidden;*/
  position: absolute;
  z-index: 2;
  top: 0;
  @include transition(opacity .5s);
}

.page-hero .text {
  left: 66.66666%;
  font-family: $proxima;
  font-weight: $fw-semi;
  font-size: 18px;
  line-height: 50px;
  @include spacing(400);
  text-transform: uppercase;
  z-index: 3;
  top: -50px;
  .line {
    display: block;
  }
}

.vid-reveal .page-hero .text {
  animation-name: text-lift;
  animation-direction: forwards;
  animation-fill-mode: forwards;
  animation-duration: .3s ;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
@keyframes text-lift {
  0% {
    top: -50px;
    @include opacity(1)
  }
  50% {
    top: -75px;
    @include opacity(.5);
  }
  75% {
    top: -80px;
     @include opacity(.2);
  }
  100% {
    top: -120px;
     @include opacity(0);
  }
}
a.handle {
  color: #fff;
  font-weight: $fw-semi;
  bottom: 30px;
  left: 23%;
  z-index: 3;
  @include transition(opacity .5s);
}

.vid-reveal a.handle,
.vid-reveal .videocover  {
  opacity: 0;
  visibility: hidden;
}




