.pg-section.s4 {
  .speed-wrap {
    top: 300px;
  }
}

.pg-section.s5 {
  .speed-wrap {
    top: 360px;
  }
}

.pg-section.s6 {
  margin-top: 60px;
  .speed-wrap {
    top: 0;
    margin-top: 450px;
  }
}