.pg-section.s2 {
  .speed-wrap {
    z-index: 9;
    position: relative;
  }
}

.pg-section.s3 {
  margin-top: -150px;
}


.pg-section.s4 {
  margin-top: -150px;
  .speed-wrap2 {
    margin-top: -75px;
  }
  .speed-wrap {
    top: 200px;
  }
}

.pg-section.s5 {
  .speed-wrap {
    top: 338px;
  }
}

.pg-section.s6 {
  margin-top: 60px;
  .speed-wrap {
    top: 0;
    margin-top: 450px;
  }
}